/* ГЛОБАЛЬНА БАЗА */
body { 
    background-color: #000; 
    color: #fff; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    margin: 0; 
}

.app-container { 
    display: flex; 
    min-height: 100vh; 
}

.main-content { 
    flex: 1; 
}

.red { 
    color: #ff4500; 
}

/* SIDEBAR & NAV */
.sidebar { 
    width: 200px; 
    background: #0a0a0a; 
    border-right: 1px solid #1a1a1a; 
    padding: 20px; 
    flex-shrink: 0; 
}

.sidebar-logo { 
    max-width: 80px; 
    margin-bottom: 40px; 
}

.sidebar nav a { 
    display: block; 
    color: #888; 
    text-decoration: none; 
    padding: 12px 0; 
    font-size: 14px; 
    transition: 0.3s; 
}

.sidebar nav a.active,
.sidebar nav a:hover, 
.dropdown-toggle:hover {
    color: #fff !important;
    border-left: 3px solid #ff4500;
    padding-left: 10px;
    background: linear-gradient(to right, #ff450011, transparent);
}

.dropdown-toggle:hover .arrow {
    color: #ff4500;
}

/* DROPDOWN (ВИПАДАЮЧЕ МЕНЮ) */
.dropdown-content { 
    max-height: 0; 
    overflow: hidden; 
    transition: 0.3s; 
    display: flex; 
    flex-direction: column; 
    padding-left: 15px; 
}

.dropdown.open .dropdown-content { 
    max-height: 200px; 
    margin-top: 10px; 
}

.dropdown.open .arrow { 
    transform: rotate(180deg); 
    display: inline-block; 
}

.sub-item { 
    color: #666; 
    text-decoration: none; 
    font-size: 13px; 
    padding: 5px 0; 
}

.sub-item:hover { 
    color: #ff4500; 
}

.arrow {
    display: inline-block;
    transition: transform 0.3s;
}

.nav-item-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Змінюємо тут: тепер вони стоять поруч */
    gap: 8px; /* Саме цей параметр регулює точну відстань у пікселях */
    cursor: pointer;
}

.dropdown-toggle-arrow {
    color: #888;
    padding: 10px;
    transition: 0.3s;
}

.dropdown-toggle-arrow:hover {
    color: #ff4500;
}

/* Коли список відкритий, повертаємо стрілочку */
.dropdown.open .dropdown-toggle-arrow {
    transform: rotate(180deg);
}

